{% extends "_base.html" %} {% block title %}Login Page{% endblock %} {% block
body %}
<div id="flagform">
  <form action="/flag" method="POST">
    <label for="passord">Passord</label>
    <input type="text" name="passord" />
    {% if feil %}
    <p class="feil">{{ feil }}</p>
    {% endif %}
    <button type="submit">Login</button>
  </form>

  <div class="flag">
    {% if flag %}
    <p>
      Her er flagget mitt:<br />
      <strong>{{ flag }}</strong>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
